<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
      layout:decorate="~{fragment/main_layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Admin Dashboard Template">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="stacks">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <style type="text/css">
        .header{
            background-color: #e0e7eb;
            padding: 1%;
            color: #1c252c;
            font-weight: bold;
            font-size: 16px;
        }

        .body{
            padding: 2% 5%;
            border-bottom: 1px solid #d4dde3;
        }

        .body:hover {
            background-color: #f2f5f7 ;
        }

        .footer{
            padding: 1% 4%;
        }

    </style>
    <!-- Title -->
    <title>Invoice</title>

    <!-- Styles -->
</head>

<body>

    <div layout:fragment="content">
        <div class="row">
            <div class="col pull-left">
                <h3>Chart Of Account</h3>
            </div>
            <div class="col pull-right">
                <button class="btn btn-link btn-lg" data-toggle="modal" data-target="#myModal"><strong>Add new Account</strong></button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">

                        <div th:include="fragment/add_account_modal :: add_account_modal"></div>


                    </div>
                </div>

            </div>
        </div>
        <div id="main-wrapper">
            <div class="row">

                <!-- Users Stats -->
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body pt-0" style="margin-top: 1.2rem;">
                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-justified" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab21" role="tab" data-toggle="tab">Assets</a></li>
                                    <li role="presentation"><a href="#tab22" role="tab" data-toggle="tab">Liabilities</a></li>
                                    <li role="presentation"><a href="#tab23" role="tab" data-toggle="tab">Equity</a></li>
                                    <li role="presentation"><a href="#tab24" role="tab" data-toggle="tab">Income</a></li>
                                    <li role="presentation"><a href="#tab25" role="tab" data-toggle="tab">Expense</a></li>
                                </ul>
                                <div class="modal fade" id="SubAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">

                                        <div th:include="fragment/add_sub_account_modal :: add_sub_account_modal"></div>


                                    </div>
                                </div>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active fade in" id="tab21">

                                        <div style="margin-top: 1.5rem;" >
                                            <div class="container">
                                                <th:block th:each="account : ${assetAccounts}">
                                                    <div class="header" th:text="${account.getAccountDescription()}"></div>
                                                    <th:block th:each="sub_account : ${account.getSubAccounts()}">

                                                        <div class="body" th:text="${sub_account.getSubAccountDescription()}"></div>
                                                    </th:block>
                                                    <div class="footer"> <button class="btn btn-link btn-lg" data-toggle="modal" data-target="#SubAccountModal"><strong>Add Sub Account</strong></button></div>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="tab22">
                                        <div class="container">
                                            <th:block th:each="account : ${liabilityAccounts}">
                                                <div class="header" th:text="${account.getAccountDescription()}"></div>
                                                <th:block th:each="sub_account : ${account.getSubAccounts()}">

                                                    <div class="body" th:text="${sub_account.getSubAccountDescription()}"></div>
                                                </th:block>
                                                <div class="footer"> <button class="btn btn-link btn-lg" data-toggle="modal" data-target="#SubAccountModal"><strong>Add Sub Account</strong></button></div>
                                            </th:block>
                                        </div>                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab23">
                                        <div class="container">
                                            <th:block th:each="account : ${equityAccounts}">
                                                <div class="header" th:text="${account.getAccountDescription()}"></div>
                                                <th:block th:each="sub_account : ${account.getSubAccounts()}">

                                                    <div class="body" th:text="${sub_account.getSubAccountDescription()}"></div>
                                                </th:block>
                                                <div class="footer"> <button class="btn btn-link btn-lg" data-toggle="modal" data-target="#SubAccountModal"><strong>Add Sub Account</strong></button></div>
                                            </th:block>
                                        </div>                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab24">
                                        <div class="container">
                                            <th:block th:each="account : ${incomeAccounts}">
                                                <div class="header" th:text="${account.getAccountDescription()}"></div>
                                                <th:block th:each="sub_account : ${account.getSubAccounts()}">

                                                    <div class="body" th:text="${sub_account.getSubAccountDescription()}"></div>
                                                </th:block>
                                                <div class="footer"> <button class="btn btn-link btn-lg" data-toggle="modal" data-target="#SubAccountModal"><strong>Add Sub Account</strong></button></div>
                                            </th:block>
                                        </div>                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab25">
                                        <div class="container">
                                            <th:block th:each="account : ${expenseAccounts}">
                                                <div class="header" th:text="${account.getAccountDescription()}"></div>
                                                <th:block th:each="sub_account : ${account.getSubAccounts()}">

                                                    <div class="body" th:text="${sub_account.getSubAccountDescription()}"></div>
                                                </th:block>
                                                <div class="footer"> <button class="btn btn-link btn-lg" data-toggle="modal" data-target="#SubAccountModal"><strong>Add Sub Account</strong></button></div>
                                            </th:block>
                                        </div>                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End Purchase By vendor Stats -->

            </div>
        </div>
    </div>


</body>

</html>