<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
      layout:decorate="~{fragment/main_layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Admin Dashboard Template">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="stacks">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" th:href="@{/bootstrap4/css/bootstrap.css}">

    <!-- Title -->
    <title>Invoice</title>

    <!-- Styles -->
</head>

<body>

<div layout:fragment="content">
    <div class="page-title">
        <h3 class="breadcrumb-header">Finished Good Entry</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">

            <!-- Users Stats -->
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body pt-0" style="margin-top: 1.2rem;">

                        <form id="finishedGoodEntryForm">
                            <div class="form-row">

                                <div class="col-6">
                                    <label>Transaction Date</label>
                                    <input name="date" type="date" class="form-control" placeholder="04/14/2075">
                                </div>

                                <div class="col-6">
                                    <label>Bill-No</label>
                                    <input name="billNo" type="text" class="form-control" placeholder="Bill-No">
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <label>Godown</label>
                                    <select name="toGodown"  class="form-control" required>
                                        <th:block th:each="godown : ${godowns}">
                                            <option th:value="${godown.getGodownId()}" th:text="${godown.getGodownDescription()}">

                                            </option>
                                        </th:block>
                                    </select>
                                </div>

                                <div class="col-6">
                                    <label>Godown Stock</label>
                                    <input name="godownStock" type="text" class="form-control" placeholder="Rs 54654 DR" disabled>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Description</label>
                                    <input name="description" type="text" class="form-control" placeholder="Description">
                                </div>

                                <div class="dropdown-divider"></div>

                                <div class="table" style="margin-top: 1.5rem;">
                                    <table id="productTable" class="table-responsive productTable">
                                        <caption>List of users</caption>
                                        <thead>
                                        <tr>
                                            <th scope="col">Sn</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Remarks</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="mainRow">
                                            <th scope="row">1</th>

                                            <td>
                                                <select class="form-control product" required>
                                                    <th:block th:each="product : ${products}">
                                                        <option th:value="${product.getProductId()}" th:text="${product.getProductDescription()}">

                                                        </option>
                                                    </th:block>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" placeholder="Quantity">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Remarks">
                                            </td>
                                            <td>
                                                <button class="btn btn-link removeRow"><i class="fa fa-remove" aria-hidden="true"></i></button>
                                                <button class="btn btn-link addRow"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                            </td>


                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button id="cancel" class="btn btn-secondary">Cancel</button>
                            </div>
                        </form>
                        <!-- <canvas height="130" style="max-width: 100% !important;" class="blog-overview-users"></canvas> -->
                    </div>
                </div>
            </div>
            <!-- End Sales By Customer Stats -->

        </div>
    </div>
    <script th:src="@{/space_static/plugins/jquery/jquery-3.1.0.min.js}"></script>
    <script th:src="@{/custom/js/basic_form_script.js}"></script>
    <script th:src="@{/custom/js/finished_good_entry.js}"></script>
</div>

</body>

</html>