<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
      layout:decorate="~{fragment/main_layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Admin Dashboard Template">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="stacks">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">    <!--<script th:src="@{/shard_static/scripts/shards-dashboards.1.1.0.min.js}"></script>-->

    <style type="text/css">
        .form-row{
            margin: 1.5%;        }

    </style>

    <!-- Title -->
    <title>Add User</title>

    <!-- Styles -->
</head>

<body>

<div layout:fragment="content">
    <div class="page-title">
        <h3 class="breadcrumb-header">Transportation</h3>
    </div>
    <div id="main-wrapper">




        <div class="row">

            <!-- Users Stats -->
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body pt-0" style="margin-top: 1.2rem;">
                        <!--HEADER TEXT-->
                        <div class="row">
                            <div class="col-md-4 text-left">
                                <h5>All Transportation</h5>
                            </div>
                            <div class="col-md-4 offset-md-4 text-right">
                                <button class="btn btn-link" data-toggle="modal" data-target="#myModal"><strong>Add new Transportation</strong></button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">

                                        <div th:include="fragment/transportation_modal :: transportation_modal"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--TABLE START-->
                        <div  class="table-responsive invoice-table">

                            <script>
                                $(document).ready(function(){
                                    $('#table').DataTable();
                                });
                            </script>
                            <table id="table" class="table table-hover">
                                <thead class="bg-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Plate Number</th>
                                    <th>Model</th>
                                    <th>Bill Book No</th>
                                    <th>Recorded Km</th>
                                    <th>Fuel Capacity</th>
                                    <th>Mileage</th>
                                    <th>Added Date</th>





                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="vehicle : ${vehicles}">
                                    <tr>
                                        <th th:text="${vehicle.getVehicleId()}"></th>
                                        <td> <a th:href="@{'/manage/customer/' + ${vehicle.getVehicleId()}}" th:text="${vehicle.getPlateNumber()}"></a></td>
                                        <td th:text="${vehicle.getVehicleModel()}"></td>

                                        <td th:text="${vehicle.getBillBookNo()}"></td>
                                        <td th:text="${vehicle.getRecordedKm()}"></td>
                                        <td th:text="${vehicle.getFuelCapacity()}"></td>
                                        <td th:text="${vehicle.getMileage()}"></td>
                                        <td th:text="${vehicle.getAddedDate()}"></td>
                                        </td>

                                    </tr>

                                </th:block>


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Purchase By Transportation Stats -->

        </div>
      

        </div>
        <!-- Users By Expense breakdown -->


       
    </div>
    <!-- End Users By Expense break down -->
</div>







</body>

</html>