<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
      layout:decorate="~{fragment/main_layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Admin Dashboard Template">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="stacks">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" th:href="@{/bootstrap4/css/bootstrap.css}">

    <!-- Title -->
    <title>Invoice</title>

    <!-- Styles -->
</head>

<body>

<div layout:fragment="content">
    <div class="page-title">
        <h3 class="breadcrumb-header">Vehicle Part Entry</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">

            <!-- Users Stats -->
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body pt-0" style="margin-top: 1.2rem;">

                        <form>
                            <div class="form-row">

                                <div class="col-4">
                                    <label for="inputDate">Entry Date</label>
                                    <input type="text" class="form-control" placeholder="04/14/2075">
                                </div>

                                <div class="col-4">
                                    <label for="inputBillNo">Bill No</label>
                                    <input type="text" class="form-control" placeholder="Bill-No">
                                </div>
                                <div class="col-4">
                                    <label for="inputTransactionNo">Entry No</label>
                                    <input type="text" class="form-control" placeholder="PB-1452">
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <label for="inputVoucherType">Vehicle</label>
                                    <select id="inputVoucherType" class="form-control">
                                        <option selected>Lubhur</option>
                                        <option>Manakamana</option>
                                    </select>
                                </div>

                                <div class="col-6">
                                    <label for="inputBalance">Average Rate</label>
                                    <input type="text" class="form-control" placeholder="Rs 54654 DR">
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label for="inputBalance">Description</label>
                                    <input type="text" name="description" class="form-control" placeholder="Description">
                                </div>

                            </div>
                            <div class="dropdown-divider"></div>

                            <div class="form-row">
                                <div class="col">
                                    <label for="inputBalance">Recorded Kilometer</label>
                                    <input type="text" name="description" class="form-control" placeholder="Description">
                                </div>

                                <div class="col">
                                    <label for="inputBalance">Part</label>
                                    <input type="text" name="description" class="form-control" placeholder="Description">
                                </div>

                                <div class="col">
                                    <label for="inputBalance">Rate</label>
                                    <input type="text" name="description" class="form-control" placeholder="Description">
                                </div>

                                <div class="col">
                                    <label for="inputBalance">Quantity</label>
                                    <input type="text" name="description" class="form-control" placeholder="Description">
                                </div>

                            </div>

                            <div class="dropdown-divider"></div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="submit" class="btn btn-secondary">Cancel</button>
                            </div>
                        </form>
                        <!-- <canvas height="130" style="max-width: 100% !important;" class="blog-overview-users"></canvas> -->
                    </div>
                </div>
            </div>
            <!-- End Purchase By vendor Stats -->

        </div>
    </div>
</div>

</body>

</html>